@import 'variables';

.offerings-page-wrapper {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   color: white;
   height: 100%;

   .lhs {
      height: inherit;
      min-width: 20em;
   }
   .rhs {
      padding: 1em;
      height: auto;
      max-height: 100%;
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
      grid-gap: 1em;
      overflow-y: auto;
   }
}
