.introduction-form-wrapper {
   width: 100%;

   h2[heading] {
      margin-bottom: 1em;
   }

   .readonly {
      .form-content-wrapper {
         margin-bottom: 2em;
      }
   }
   .form-content-wrapper {
      width: 100%;

      & > mat-form-field {
         width: 100%;
      }

      & > h2 {
         margin-bottom: 0.25em;
      }

      &.buttons {
         width: max-content;
         margin-left: auto;
         margin-bottom: 0;
         button {
            margin-left: 0.5em;
         }
      }
   }
}
