<div class="offerings-search-sidebar">
   <div class="tabs">
      <button
         (click)="setSelectedTab('Advertisers')"
         type="button"
         mat-flat-button
         disableRipple
         [class.selected]="selectedTab === 'Advertisers'"
      >
         Advertisers
      </button>
      <button
         (click)="setSelectedTab('Investors')"
         type="button"
         mat-flat-button
         disableRipple
         [class.selected]="selectedTab === 'Investors'"
      >
         Investors
      </button>
   </div>

   <form *ngIf="form" [formGroup]="form" class="search-inputs" (submit)="handleFormSubmit($event)">
      <mat-form-field>
         <mat-label>Search By Name</mat-label>
         <input matInput type="search" formControlName="searchText" />
         <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <mat-form-field>
         <mat-label>Location</mat-label>
         <mat-select multiple formControlName="continent">
            <mat-option
               *ngFor="let continent of enumMapper._continentKeys"
               [value]="enumMapper.mapEnumKeyToValue(continent, enumMapper._continents)"
            >
               {{ enumMapper.mapEnumKeyToValue(continent, enumMapper._continents) }}
            </mat-option>
         </mat-select>
      </mat-form-field>

      <mat-form-field>
         <mat-label>{{
            selectedTab === 'Advertisers' ? 'Funding Type' : 'Project Phase'
         }}</mat-label>
         <mat-select multiple formControlName="projectPhase">
            <mat-option
               *ngFor="let projectPhase of enumMapper._projectPhaseKeys"
               [value]="enumMapper.mapEnumKeyToValue(projectPhase, enumMapper._projectPhases)"
            >
               {{ enumMapper.mapEnumKeyToValue(projectPhase, enumMapper._projectPhases) }}
            </mat-option>
         </mat-select>
      </mat-form-field>

      <mat-form-field>
         <mat-label>Collateral</mat-label>
         <mat-select multiple formControlName="collateral">
            <mat-option
               *ngFor="let collateral of enumMapper._collateralKeys"
               [value]="enumMapper.mapEnumKeyToValue(collateral, enumMapper._collateral)"
            >
               {{ enumMapper.mapEnumKeyToValue(collateral, enumMapper._collateral) }}
            </mat-option>
         </mat-select>
      </mat-form-field>

      <span class="amount-range">
         <mat-form-field>
            <mat-label>Amount Range Start</mat-label>
            <input matInput type="text" formControlName="amountRangeStart" />
         </mat-form-field>
         <p>to</p>
         <mat-form-field>
            <mat-label>Amount Range End</mat-label>
            <input matInput type="text" formControlName="amountRangeEnd" />
         </mat-form-field>
      </span>

      <mat-form-field>
         <mat-label>Terms</mat-label>
         <mat-select multiple formControlName="terms">
            <mat-option
               *ngFor="let terms of enumMapper._termsKeys"
               [value]="enumMapper.mapEnumKeyToValue(terms, enumMapper._terms)"
            >
               {{ enumMapper.mapEnumKeyToValue(terms, enumMapper._terms) }}
            </mat-option>
         </mat-select>
      </mat-form-field>

      <div class="buttons">
         <button
            mat-stroked-button
            color="primary"
            type="button"
            (click)="handleClearSearch($event)"
         >
            Clear
         </button>
         <button mat-raised-button color="primary" type="submit">Search</button>
      </div>
   </form>
</div>
