<div class="offerings-search-sidebar">
   <div class="tabs">
      <button
         (click)="setSelectedTab('Advertisers')"
         type="button"
         mat-flat-button
         disableRipple
         [class.selected]="selectedTab === 'Advertisers'"
      >
         Advertisers
      </button>
      <button
         (click)="setSelectedTab('Investors')"
         type="button"
         mat-flat-button
         disableRipple
         [class.selected]="selectedTab === 'Investors'"
      >
         Investors
      </button>
   </div>

   <form *ngIf="form" [formGroup]="form" class="search-inputs" (submit)="handleFormSubmit($event)">
      <mat-form-field>
         <mat-label>Search By Name</mat-label>
         <input matInput type="search" formControlName="searchText" />
         <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <mat-form-field>
         <mat-label>Location</mat-label>
         <mat-select multiple formControlName="location">
            <mat-option
               *ngFor="let location of _locationKeys"
               [value]="mapEnumKeyToValue(location, _locations)"
            >
               {{ location }} - {{ mapEnumKeyToValue(location, _locations) }}
            </mat-option>
         </mat-select>
      </mat-form-field>

      <mat-form-field>
         <mat-label>{{
            selectedTab === 'Advertisers' ? 'Funding Type' : 'Project Phase'
         }}</mat-label>
         <mat-select multiple formControlName="projectPhase">
            <mat-option
               *ngFor="let projectPhase of _projectPhaseKeys"
               [value]="mapEnumKeyToValue(projectPhase, _projectPhases)"
            >
               {{ mapEnumKeyToValue(projectPhase, _projectPhases) }}
            </mat-option>
         </mat-select>
      </mat-form-field>

      <mat-form-field>
         <mat-label>Collateral</mat-label>
         <mat-select multiple formControlName="collateral">
            <mat-option
               *ngFor="let collateral of _collateralKeys"
               [value]="mapEnumKeyToValue(collateral, _collateral)"
            >
               {{ mapEnumKeyToValue(collateral, _collateral) }}
            </mat-option>
         </mat-select>
      </mat-form-field>

      <span class="amount-range">
         <mat-form-field>
            <mat-label>Amount Range Start</mat-label>
            <input matInput type="text" formControlName="amountRangeStart" />
         </mat-form-field>
         <p>to</p>
         <mat-form-field>
            <mat-label>Amount Range End</mat-label>
            <input matInput type="text" formControlName="amountRangeEnd" />
         </mat-form-field>
      </span>

      <mat-form-field>
         <mat-label>Terms</mat-label>
         <mat-select multiple formControlName="terms">
            <mat-option *ngFor="let terms of _termsKeys" [value]="mapEnumKeyToValue(terms, _terms)">
               {{ mapEnumKeyToValue(terms, _terms) }}
            </mat-option>
         </mat-select>
      </mat-form-field>

      <div class="buttons">
         <button
            mat-stroked-button
            color="primary"
            type="button"
            (click)="handleClearSearch($event)"
         >
            Clear
         </button>
         <button mat-raised-button color="primary" type="submit">Search</button>
      </div>
   </form>
</div>
