<div class="sign-up-form-container">
   <div class="sign-up-content">
      <h2 class="content-heading">Sign up to view and make offerings today!</h2>

      <div class="form-scrollbox">
         <form [formGroup]="form">
            <mat-form-field>
               <mat-label>Email</mat-label>
               <input
                  matInput
                  name="email"
                  formControlName="email"
                  type="email"
                  placeholder="Email"
               />
               <mat-error *ngIf="form.get('email')?.hasError('required')">
                  * Must enter a valid email
               </mat-error>
            </mat-form-field>

            <mat-form-field>
               <mat-label>Password</mat-label>
               <input
                  matInput
                  name="password"
                  formControlName="password"
                  type="password"
                  placeholder="Password"
               />
               <mat-error>
                  <span *ngIf="form.get('password')?.hasError('required')">
                     * Must enter a valid password
                  </span>
                  <span *ngIf="form.get('password')?.hasError('invalidPassword')">
                     (At least 8 characters: 1 lower case, 1 upper case, and 1 number)
                  </span>
               </mat-error>
            </mat-form-field>

            <mat-form-field>
               <mat-label>Confirm Password</mat-label>
               <input
                  matInput
                  name="confirmPassword"
                  formControlName="confirmPassword"
                  type="password"
                  placeholder="Confirm password"
               />
               <mat-error>
                  <span *ngIf="form.get('confirmPassword')?.hasError('required')">
                     * Must enter a confirmation password
                  </span>
                  <span *ngIf="form.get('confirmPassword')?.hasError('matchPassword')">
                     * Passwords do not match
                  </span>
               </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
               <mat-label>Account Type</mat-label>
               <mat-select formControlName="accountType">
                  <mat-option [value]="_accountType.Advertiser">Advertiser</mat-option>
                  <mat-option [value]="_accountType.Investor">Investor</mat-option>
               </mat-select>
            </mat-form-field>
         </form>
      </div>

      <div *ngIf="(error$ | async) != null" class="sign-up-failure">
         <p>There was an error signing you up</p>
         <p>Please try again</p>
      </div>

      <button
         mat-raised-button
         color="primary"
         class="form-button primary-button my-4"
         (click)="handleFormButtonClick()"
      >
         <span class="content">
            <mat-spinner *ngIf="signingUp$ | async" [diameter]="15"></mat-spinner>
            <span>Sign up</span>
         </span>
      </button>
   </div>
</div>
