@import 'variables';

.sign-up-form-container {
   position: relative;
   min-height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

   .sign-up-content {
      background-color: white;
      border-radius: 0.25em;
      padding: 2em;
      margin: 0.75em 0.5em;
      max-width: 25em;
      display: flex;
      flex-direction: column;

      .content-heading {
         font-family: 'Comfortaa';
         font-weight: bold;
         color: $darkBlue;
         font-size: large;
         text-align: center;
         line-height: 1.25;
      }

      .form-scrollbox {
         form {
            margin: 1em 0;
            mat-form-field {
               width: 100%;
               margin-top: 0.25em;
            }
         }
      }

      .sign-up-failure {
         color: $deniedRed;
         font-weight: bold;
         text-align: center;
         margin-bottom: 0.5em;
      }

      button {
         margin-top: 0.5em;
      }
   }
}
