@import 'variables';

.offering-page-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
   height: 100%;

   div[footer] {
      .error {
         color: $deniedRed;
         margin-bottom: 0.5em;
      }
      .buttons {
         display: flex;
         justify-content: flex-end;
         align-items: center;
         button {
            margin-left: 1em;
         }
      }
   }
}
