<div class="offering-page-wrapper">
   <offering-form
      *ngIf="offering$ | async"
      [showFooterButtons]="false"
      [readonly]="true"
      [initOffering]="offering$ | async"
   >
      <div footer>
         <div class="buttons">
            <button type="button" mat-stroked-button color="primary" (click)="onBack()">
               Back
            </button>
            <button
               type="button"
               mat-raised-button
               color="primary"
               (click)="onRequestIntroduction()"
            >
               Request An Introduction
            </button>
         </div>
      </div>
   </offering-form>
</div>
