<div class="my-introductions-page-container">
   <div class="lhs">
      <div class="introductions">
         <div class="heading">
            <h2>Introductions</h2>
         </div>

         <div *ngIf="allMyIntroductions" class="introductions-list">
            <div class="received">
               <h3>Received</h3>
               <ng-container *ngIf="receivedIntroductions.length > 0; else noReceived">
                  <div
                     *ngFor="let introduction of receivedIntroductions"
                     class="introduction"
                     [class]="getIntroductionApprovalStateClass(introduction)"
                     [class.selected]="
                        introduction.introductionId === selectedIntroduction?.introductionId
                     "
                     (click)="onSelectIntroduction(introduction)"
                  >
                     <p>
                        {{ introduction.offering?.name ?? introduction.createUser?.email }}
                     </p>
                  </div>
               </ng-container>
               <ng-template #noReceived>
                  <p class="introduction">No received introductions</p>
               </ng-template>
            </div>
            <div class="sent">
               <h3>Sent</h3>

               <ng-container *ngIf="sentIntroductions.length > 0; else noSent">
                  <div
                     *ngFor="let introduction of sentIntroductions"
                     class="introduction"
                     [class]="getIntroductionApprovalStateClass(introduction)"
                     [class.selected]="
                        introduction.introductionId === selectedIntroduction?.introductionId
                     "
                     (click)="onSelectIntroduction(introduction)"
                  >
                     <p>
                        {{ introduction.offering?.name ?? introduction.receiveUser?.email }}
                     </p>
                  </div>
               </ng-container>

               <ng-template #noSent>
                  <p class="introduction">No received introductions</p>
               </ng-template>
            </div>
         </div>
      </div>
   </div>

   <div class="rhs">
      <div *ngIf="selectedIntroduction" class="selected-introduction">
         <introduction-form
            [initIntroduction]="selectedIntroduction"
            [showFooterButtons]="isSelectedIntroductionReceived && isSelectedIntroductionPending"
            (approve)="onApprove()"
            (deny)="onDeny()"
         >
            <div heading [class]="getIntroductionApprovalStateClass(selectedIntroduction)">
               <p>{{ getIntroductionApprovalStateText(selectedIntroduction) }}</p>
            </div>
         </introduction-form>
         <!-- <introduction-form
                  [showFooterButtons]="false"
                  [initIntroduction]="selectedIntroduction"
                  (formChange)="handleSelectedIntroductionFormChange($event)"
               >
                  <div heading [class]="getIntroductionApprovalStateClass(selectedIntroduction)">
                     <p>{{ getIntroductionApprovalStateText(selectedIntroduction) }}</p>
                  </div>
               </introduction-form> -->
      </div>
   </div>
</div>
