<div *ngIf="offering" class="offering-card">
   <p class="offering-card_name">{{ offering.name }}</p>
   <p class="offering-card_description">{{ offering.description }}</p>

   <div class="offering-card_info">
      <p>Industry</p>
      <p>${{ offering.amountRequested?.toLocaleString() }}</p>
      <p *ngIf="offering.location">
         {{ getLocationContinent(offering.location) }}
      </p>
      <p *ngIf="offering.collateral">
         {{ offering.collateral }}
      </p>
      <p *ngIf="offering.projectPhase">
         {{ offering.projectPhase }}
      </p>
      <p *ngIf="offering.terms">
         {{ offering.terms }}
      </p>
   </div>

   <div class="buttons">
      <div *ngIf="($loggedIn | async) === false" class="error">* Please log in to view more</div>
      <button
         [disabled]="($loggedIn | async) === false"
         (click)="handleViewMoreClick()"
         mat-raised-button
         color="primary"
      >
         View more
      </button>
   </div>
</div>
