@import 'variables';

.offering-card {
   padding: 1em;
   background-color: white;
   border-radius: 0.5em;
   color: $middleBlue;
   &_name {
      font-weight: bold;
      font-size: x-large;
   }
   &_description {
      margin-top: 0.25em;
   }

   &_info {
      margin: 1em 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      font-weight: bold;
      font-size: medium;
      grid-gap: 0.5em;
      p {
         text-overflow: ellipsis;
         white-space: nowrap;
         overflow: hidden;
      }
   }

   .buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      button {
         margin-left: 1em;
      }
   }
}
