<form *ngIf="form" [formGroup]="form" [class.readonly]="readonly" (submit)="onSubmit($event)">
   <ng-content select="[heading]"></ng-content>

   <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
   </mat-form-field>

   <mat-form-field *ngIf="currentUser?.accountType === enumMapper._accountType.Investor">
      <mat-label>Investor/Lender</mat-label>
      <mat-select formControlName="investorOfferingType">
         <mat-option [value]="enumMapper._investorOfferingType.Investor">Investor</mat-option>
         <mat-option [value]="enumMapper._investorOfferingType.Lender">Lender</mat-option>
      </mat-select>
   </mat-form-field>

   <mat-form-field *ngIf="currentUser?.accountType === enumMapper._accountType.Advertiser">
      <mat-label>Business/Industry</mat-label>
      <mat-select formControlName="industry">
         <mat-option
            *ngFor="let industry of enumMapper._industriesKeys"
            [value]="enumMapper.mapEnumKeyToValue(industry, enumMapper._industries)"
         >
            {{ enumMapper.mapEnumKeyToValue(industry, enumMapper._industries) }}
         </mat-option>
      </mat-select>
   </mat-form-field>

   <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput type="text" formControlName="description"></textarea>
   </mat-form-field>

   <div class="grid">
      <mat-form-field>
         <mat-label>Location</mat-label>
         <mat-select formControlName="location">
            <mat-option
               *ngFor="let location of enumMapper._locationKeys"
               [value]="enumMapper.mapEnumKeyToValue(location, enumMapper._locations)"
            >
               {{ location }} - {{ enumMapper.mapEnumKeyToValue(location, enumMapper._locations) }}
            </mat-option>
         </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="currentUser?.accountType === enumMapper._accountType.Advertiser">
         <mat-label>Amount Requested</mat-label>
         <input matInput type="text" formControlName="amountRequested" />
      </mat-form-field>
      <span
         *ngIf="!(currentUser?.accountType === enumMapper._accountType.Advertiser)"
         class="amount-range"
      >
         <mat-form-field>
            <mat-label>Amount Range Start</mat-label>
            <input matInput type="text" formControlName="amountRangeStart" />
         </mat-form-field>
         <p>to</p>
         <mat-form-field>
            <mat-label>Amount Range End</mat-label>
            <input matInput type="text" formControlName="amountRangeEnd" />
         </mat-form-field>
      </span>

      <mat-form-field>
         <mat-label>{{
            currentUser?.accountType === enumMapper._accountType.Advertiser
               ? 'Funding Type'
               : 'Project Phase'
         }}</mat-label>
         <mat-select formControlName="projectPhase">
            <mat-option
               *ngFor="let projectPhase of enumMapper._projectPhaseKeys"
               [value]="enumMapper.mapEnumKeyToValue(projectPhase, enumMapper._projectPhases)"
            >
               {{ enumMapper.mapEnumKeyToValue(projectPhase, enumMapper._projectPhases) }}
            </mat-option>
         </mat-select>
      </mat-form-field>

      <mat-form-field>
         <mat-label>Terms</mat-label>
         <mat-select formControlName="terms">
            <mat-option
               *ngFor="let terms of enumMapper._termsKeys"
               [value]="enumMapper.mapEnumKeyToValue(terms, enumMapper._terms)"
            >
               {{ enumMapper.mapEnumKeyToValue(terms, enumMapper._terms) }}
            </mat-option>
         </mat-select>
      </mat-form-field>

      <mat-form-field>
         <mat-label>Collateral</mat-label>
         <mat-select formControlName="collateral">
            <mat-option
               *ngFor="let collateral of enumMapper._collateralKeys"
               [value]="enumMapper.mapEnumKeyToValue(collateral, enumMapper._collateral)"
            >
               {{ enumMapper.mapEnumKeyToValue(collateral, enumMapper._collateral) }}
            </mat-option>
         </mat-select>
      </mat-form-field>

      <mat-form-field>
         <mat-label>Contact Email</mat-label>
         <input matInput type="email" formControlName="contactEmail" />
      </mat-form-field>
   </div>

   <div class="buttons">
      <ng-content select="[footer]"></ng-content>
      <ng-container *ngIf="showFooterButtons">
         <button type="button" mat-stroked-button color="primary" (click)="onCancel()">
            Cancel
         </button>
         <button type="submit" mat-raised-button color="primary">Submit</button>
      </ng-container>
   </div>
</form>
