@import 'variables';

.my-info-page-container {
   display: flex;
   justify-content: center;
   align-items: center;
   color: $darkBlue;
   height: 100%;
   position: relative;

   .lhs {
      height: 100%;
      min-width: 20em;
      background-color: $offWhite;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .account-info {
         width: 100%;
         padding: 1em;
         border-bottom: 1px solid $gray;
         background: linear-gradient(to bottom, white, $offWhite);
         p {
            margin-top: 1em;
         }
      }

      .offerings {
         width: 100%;
         flex-grow: 1;
         background: linear-gradient(to bottom, white, $offWhite);
         .heading {
            padding: 1em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 {
               flex-grow: 1;
            }
            mat-icon {
               font-size: xx-large;
               height: 100%;
               width: max-content;
               cursor: pointer;
               transition: 0.3s;
               &:hover {
                  color: $middleBlue;
               }
            }
         }

         .offerings-list {
            .offering {
               display: flex;
               justify-content: space-between;
               align-items: center;
               width: 100%;
               padding: 0.5em;
               color: $darkBlue;
               font-weight: 600;
               cursor: pointer;
               transition: 0.3s;

               border-right: 6px solid;
               &.approved {
                  border-right-color: $approvedGreen;
               }
               &.pending {
                  border-right-color: $pendingYellow;
               }
               &.denied {
                  border-right-color: $deniedRed;
               }
               border-top: 1px solid $offWhite;

               &:nth-child(even) {
                  background-color: $offWhite;
               }
               &:hover {
                  background-color: $hoverBlue;
               }

               p.deleting {
                  text-decoration: line-through;
               }

               mat-icon {
                  color: $gray;
                  &:hover {
                     cursor: pointer;
                     transition: 0.3s;
                     color: darken($gray, 20%);
                  }
               }
            }
         }
      }
   }

   .rhs {
      height: 100%;
      flex-grow: 1;
      position: relative;

      .selected-offering {
         background-color: white;
         padding: 1em;
         margin: 1em;
         border-radius: 0.5em;
      }

      .form-footer {
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
         width: max-content;
         background-color: white;
         border-radius: 0.5em;
         display: flex;
         justify-content: flex-end;
         align-items: center;
         padding: 1em 2em;
         color: $darkBlue;
         font-weight: bold;
         p {
            margin-right: 1em;
         }
         button {
            margin-left: 1em;
         }
      }
   }
}
