<div class="my-info-page-container">
   <div class="lhs">
      <div class="account-info">
         <h2>Account Info</h2>

         <p>Email Address</p>
         <strong>test@email.com</strong>

         <p>Account Type</p>
         <strong>Advertiser</strong>
      </div>
      <div class="offerings">
         <div class="heading">
            <h2>Offerings</h2>
            <mat-icon (click)="addOfferingClick()">add</mat-icon>
         </div>

         <div *ngIf="allMyOfferings$" class="offerings-list">
            <div
               *ngFor="let offering of allMyOfferings$ | async"
               class="offering"
               [class]="getOfferingApprovalStateClass(offering)"
               (click)="onSelectOffering(offering)"
            >
               <p [class.deleting]="isOfferingMarkedForDelete(offering)">{{ offering.name }}</p>
               <mat-icon (click)="onDeleteOffering($event, offering)">delete</mat-icon>
            </div>
         </div>

         <p>
            {{ hasChanges }}
         </p>
      </div>
   </div>

   <div class="rhs">
      <div class="selected-offering"></div>
   </div>

   <div class="form-footer"></div>
</div>
