<div class="my-info-page-container">
   <div class="lhs">
      <div class="account-info">
         <h2>Account Info</h2>

         <p>Email Address</p>
         <strong>test@email.com</strong>

         <p>Account Type</p>
         <strong>Advertiser</strong>
      </div>
      <div class="offerings">
         <div class="heading">
            <h2>Offerings</h2>
            <mat-icon (click)="addOfferingClick($event)">add</mat-icon>
         </div>

         <div *ngIf="allMyOfferings$" class="offerings-list">
            <div
               *ngFor="let offering of allMyOfferings$ | async"
               class="offering"
               [class]="getOfferingApprovalStateClass(offering)"
               (click)="onSelectOffering(offering)"
            >
               <p [class.deleting]="isOfferingMarkedForDelete(offering)">{{ offering.name }}</p>
               <mat-icon (click)="onDeleteOffering($event, offering)">delete</mat-icon>
            </div>
         </div>
      </div>
   </div>

   <div class="rhs">
      <div class="selected-offering"></div>

      <div *ngIf="hasChanges" class="form-footer">
         <p>You have unsaved changes *</p>
         <button type="button" (click)="handleCancelChanges()" mat-stroked-button color="primary">
            Cancel
         </button>
         <button type="button" (click)="handleSubmitChanges()" mat-raised-button color="primary">
            Save
         </button>
      </div>
   </div>
</div>
