<div class="my-info-page-container">
   <div class="lhs">
      <div class="account-info">
         <h2>Account Info</h2>

         <p>Email Address</p>
         <strong>{{ currentUser?.email }}</strong>

         <p>Account Type</p>
         <strong>{{ currentUser?.accountType }}</strong>
      </div>
      <div class="offerings">
         <div class="heading">
            <h2>Offerings</h2>
            <mat-icon (click)="addOfferingClick($event)">add</mat-icon>
         </div>

         <div *ngIf="allMyOfferings" class="offerings-list">
            <div
               *ngFor="let offering of allMyOfferings"
               class="offering"
               [class]="getOfferingApprovalStateClass(offering)"
               [class.selected]="offering.offeringId === selectedOffering?.offeringId"
               (click)="onSelectOffering(offering)"
            >
               <p [class.deleting]="isOfferingMarkedForDelete(offering)">{{ offering.name }}</p>
               <mat-icon (click)="onDeleteOffering($event, offering)">delete</mat-icon>
            </div>
         </div>
      </div>
   </div>

   <div class="rhs">
      <div *ngIf="selectedOffering" class="selected-offering">
         <div
            *ngIf="
               selectedOffering.offeringId && offeringsToDelete.has(selectedOffering.offeringId);
               else selectedOfferingForm
            "
            class="deleting-selected-offering"
         >
            <h2>This offerings is marked for deletion</h2>
            <p>Would you like to undo this?</p>
            <div class="buttons">
               <button
                  mat-raised-button
                  color="primary"
                  type="button"
                  (click)="handleUndeleteSelectedForm()"
               >
                  Yes
               </button>
            </div>
         </div>

         <ng-template #selectedOfferingForm>
            <offering-form
               [showFooterButtons]="false"
               [initOffering]="selectedOffering"
               (formChange)="handleSelectedOfferingFormChange($event)"
            >
               <div heading [class]="getOfferingApprovalStateClass(selectedOffering)">
                  <p>{{ getOfferingApprovalStateText(selectedOffering) }}</p>
               </div>
            </offering-form>
         </ng-template>
      </div>

      <div *ngIf="hasChanges" class="form-footer">
         <p>You have unsaved changes *</p>
         <button type="button" (click)="handleCancelChanges()" mat-stroked-button color="primary">
            Cancel
         </button>
         <button type="button" (click)="handleSubmitChanges()" mat-raised-button color="primary">
            Save
         </button>
      </div>
   </div>
</div>
