@import 'variables';

.my-info-page-container {
   display: flex;
   justify-content: center;
   align-items: center;
   color: $darkBlue;
   height: 100%;

   .lhs {
      height: 100%;
      min-width: 20em;
      background-color: $offWhite;
      .account-info {
         padding: 1em;
         border-bottom: 1px solid $gray;
         p {
            margin-top: 1em;
         }
      }

      .offerings {
         .heading {
            padding: 1em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 {
               flex-grow: 1;
            }
            mat-icon {
               font-size: xx-large;
               height: 100%;
               width: max-content;
               cursor: pointer;
               transition: 0.3s;
               &:hover {
                  color: $middleBlue;
               }
            }
         }

         .offerings-list {
            .offering {
               display: flex;
               justify-content: space-between;
               align-items: center;
               width: 100%;
               padding: 0.5em;
               color: $darkBlue;
               font-weight: 600;
               cursor: pointer;
               transition: 0.3s;

               border-top: 4px solid;
               border-right: 1px solid;
               border-left: 1px solid;

               &.approved {
                  border-color: $approvedGreen;
               }
               &.pending {
                  border-color: $pendingYellow;
               }
               &.denied {
                  border-color: $deniedRed;
               }

               &:nth-child(even) {
                  background-color: $gray;
               }
               &:hover {
                  background-color: rgba(161, 203, 243, 0.897);
               }

               mat-icon {
                  &:hover {
                     cursor: pointer;
                     transition: 0.3s;
                     color: lighten($darkBlue, 20%);
                  }
               }
            }
         }
      }
   }

   .rhs {
      height: 100%;
      flex-grow: 1;
   }
}
