@import "variables";

.navigation-bar-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: $middleBlue;
   padding: 1.5em;
   color: white;

   .lhs {
      font-weight: bold;
      font-size: x-large;
   }

   .rhs {
      a {
         font-size: medium;
         margin-left: 1em;
         text-decoration: none;
         color: white;
         &.active {
            text-decoration: underline;
         }
      }
   }
}